body {
    background-color: gainsboro;
}

h1 {
    background-color: lightsteelblue;
}

.bio {
    background-color:lightsteelblue;
    border: 5px red;
    text-align: left;
    position:absolute;
    top: 112px;
    right:625px;
    height: 300px;
}

p {
    background-color:lightsteelblue;
}

.book {
    background-color: whitesmoke;
}

.football {
    text-align: center;
}

a {
    text-align:start;
}

.stories {
    position:absolute;
    top: 500px;
    left:75px;
}

.basketball {
    position:absolute;
    top: 125px;
    right:250px;
}