body {
    background-color: gainsboro;
}

h1 {
    background-color: lightsteelblue;
}

.bio {
    background-color: lightsalmon;
    text-align: center;
}

p {
    background-color: gainsboro;
}

.book {
    background-color: whitesmoke;
}

.football {
    text-align: center;
}